.formasdecontato {
    display: flex;
    
}

.contato{
    font-family: 'Kanit', sans-serif;
    font: size 48px;
    margin-top: 60px;
    position: sticky;
    box-sizing: border-box;
    width: 40%;
    height: 400px;
    margin-left: 10%;
    background-color: #f2f2f2;
    padding: 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.contatoforms {
    display: grid;
    margin-left: 50%;
    transform: translatex(-50%);
    
}

.contatoforms label input {
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

.contato h1 {
    color: #000;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.contatoforms label input {
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

.othercontato {
    float: right;
    position:fixed;
    margin-left: 700px;
    width: 300px;
    height: 330px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f2f2f2;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    margin-top: 45%;
    transform: translateY(-170%);
}

.othercontato h5 {
    font-weight: bolder;
}

.contatosocialmedia {
    float: right;
    position: relative;
    margin-top: 150px;
    margin-left: 60px;
    margin-top: 50%;
    transform: translateY(-160%);

}

.socialMediaIconscontato {
    width: 60px;
    margin-right: 8px;
    margin-left: 8px;
}