.formulario{
    margin-left: 50%;
    margin-bottom: 10;
    position: fixed;
    transform: translateX(-50%);
    padding: 100px;
    display: inline;
    float: left;
    display: block;
    font-family: 'Kanit', sans-serif;
    font: size 48px;
    margin-top: 75px;
    position: sticky;
    box-sizing: border-box;
    width: 550px;
    height: 400px;
    align-items: center;
    margin-left: 50%;
    transform: translatex(-49%);
    background-color: #f2f2f2;
    padding: 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
  }
div h2{
    margin-left: 60%;
    transform: translateX(-50%);
}
  div button{
    margin-left: 48%;
    transform: translateX(-50%);
    padding: 10px;
    margin-top: 10px;
    /*background-color: #7b7e86;*/
    border-radius: 10px;

  }
div input{
 width: 500px;
 height: 50px;
 border-radius: 10px;
}
div button:hover{
  background-color: rgb(116, 122, 116);
}